@import url("https://fonts.googleapis.com/css?family=Michroma&display=swap"); /*ссылка на шрифт взятый с сайта google fonts*/
body{
    font-family: Michroma, serif; /*Назначаем шрифт михрома во всем body, ссылаясь на шрифт сверху*/
    background: linear-gradient(90deg, #00009c 0%, #000000 100%);
}
p {
    color: white;
}
.nav-link {
    color: rgb(175, 175, 175);
}
.navbar-nav .nav-link.active {
        color: aquamarine;
}
.navbar-brand img {
    width: 50px;
}
.navbar-toggler {
background-color: gray;
}
.sidebar {
    background: linear-gradient(135deg, #00009c 0%, #000000 100%);
    color: white;
}
.card {
background: linear-gradient(270deg, #00009c 0%, #000000 100%);    
color: white;
}
.card a{
color: white;
text-decoration: none;/*Убирает подчеркивание при активной ссылки*/  
}
.slide-text {
    color: white;
    margin: auto auto;
}
footer, .btn-outline-primary {
    background: linear-gradient(270deg, #00009c 0%, #000000 100%); 

}
.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}
.call-anim {
    animation: call 2s ease 0s infinite normal forwards;
}
@keyframes call {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}
@media (max-width: 755px) { /*убирает нижнии кнопки карусели для просмотра с телефона, чтобы не наслаивалось на картинку*/
    .carousel-indicators {
        display: none;
    }
}
